<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object img-polaroid" data-src="holder.js/120x160" src="../app/img/m_profile.jpg" style="width:160px; height:107px;">
            </a>
            <div class="media-body">
                <h1 class="media-heading">Hi there!</h1>
                <p>Born and raised in Lisbon, Portugal, I moved to San Francisco back in 2000. I split my time between my job as a frontend engineer at <a href="http://www.onekingslane.com/">One Kings Lane</a>, my family, rock climbing and enjoying the wonderful coffee shops San Francisco has to offer.</p>
                <p>
                    <a class="btn btn-primary btn"  ng-click="onChangeView('#/resume')" href="/#resume">Learn more »</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="span4">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" src="../app/img/keyboard.png" style="width:40px; height:40px;">
                </a>
                <h3 class="media-heading">Software Engineer</h3>
                <div class="media-body">
                    <p>I've been developing software for 12+ years in a variety of industries such as music, law and banking.</p>
                    <p>I'm particularly interested in frontend development, project management and configuration management.</p>
                    <p>I'm energetic, humorous and hard working. I enjoy working in a team environment where knowledge sharing is fostered.</p>
                    <p><a class="btn" ng-click="onChangeView('#/resume')" href="/#resume">Check my resume »</a></p>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" src="../app/img/coffee.png" style="width:40px; height:40px;">
                </a>
                <h3 class="media-heading">Coffee Lover</h3>

                <div class="media-body">
                    <p>What can I say? Coffee just makes my day better! I'm lucky enough to live in a city where there is a wide variety of coffee shops.</p>
                    <p>I have a <a href="http://www.gaggia.com/e/machines.manual.html">Gaccia Classic</a> espresso machine at home and my favorite beans right now are <a href="http://fourbarrelcoffee.com/shop/blends-decaf/decaf-blend/">Four Barrell decaf espresso</a>. Yes, decaf! I drink plenty of coffee that is wise to start my morning with a decaf.</p>
                    <p><a class="btn" ng-click="onChangeView('')" href="#/coffee">Check my favorite spots »</a></p>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" src="../app/img/climbing.png" style="width:40px; height:40px;">
                </a>
                <h3 class="media-heading">Rock Climber</h3>

                <div class="media-body">
                    <p>I started rock climbing at <a href="http://www.touchstoneclimbing.com/mission-cliffs">Mission Cliffs</a>, San Francisco in 2010. It started kind of as a joke. I got a
                        gift certificate at my kids school auction and after having the introduction class, I thought this would
                        be a great way to spend some time with my kids.</p>
                    <p>I still remember my first climbs and being terrified to climb a 5.6!</p>
                    <p>I have come a long way since those first days. I took my leading test in 2011 and since then I've been working hard on trying to become a better lead climber.</p>
                </div>
            </div>

        </div>
    </div>
</div>
